{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": true
    },
    "target": "es2020",
    "transform": {
      "legacyDecorator": false,
      "decoratorMetadata": false
    }
  },
  "exclude": ["node_modules"],
  "sourceMaps": true,
  "module": {
    "type": "commonjs"
  }
}
